[submodule "Submodules/nukeupdater"]
	path = Submodules/nukeupdater
	url = https://github.com/lucasassislar/nukeupdater
[submodule "Submodules/x360ce"]
	path = Submodules/x360ce
	url = https://github.com/lucasassislar/x360ce
[submodule "Submodules/TypescriptSyntaxPaste"]
	path = Submodules/TypescriptSyntaxPaste
	url = https://github.com/nhabuiduc/TypescriptSyntaxPaste.git
