<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net45" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net40-client" requireReinstallation="true" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net45" />
  <package id="SlimDX" version="4.0.13.44" targetFramework="net40" />
  <package id="Splat" version="1.6.2" targetFramework="net45" />
  <package id="squirrel.windows" version="1.7.9" targetFramework="net45" />
</packages>